# Ignore Gradle project-specific cache directory and other unnecessary Gradle dirs
.gradle/
gradle/

#Ignore IDE stuff
.idea/
*.iml

# Ignore Gradle build output directory
build/
releases/

# Ignore complied classes
out/

# for OS specific
.DS_Store
.DS_Store?